<div class="container">
    <h1 class="mt-4">Candidatos a Papa - 2025</h1>

    <table class="table table-bordered mt-4">
        <thead>
            <tr style="--bs-table-bg: #C41E3A; --bs-table-color: white;">
                <th scope="col">Nombre</th>
                <th scope="col">Foto</th>
                <th scope="col">Pais Origen</th>
                <th scope="col">Edad</th>
                <th scope="col">Vertiente Religiosa</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let candidato of candidatos" (click)="seleccionarCandidato(candidato)">
                <td>{{ candidato.nombre }}</td>
                <td><img [src]="candidato.foto" alt="{{ candidato.nombre }}" style="width: 50px; height: auto;"></td>
                <td>{{ candidato.pais_origen }}</td>
                <td>{{ candidato.edad }} años</td>
                <td>{{ candidato.vertiente_religiosa }}</td>
            </tr>
        </tbody>
    </table>

    <app-candidatos-detail *ngIf="candidatoSeleccionado" [candidato]="candidatoSeleccionado"></app-candidatos-detail>
</div>


<div class="container mt-4">
    <div class="alert alert-success text-center">
      <strong>El nuevo Papa es:</strong> {{ papa?.nombre }}
    </div>
  
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let c of candidatos">
        <div class="card h-100" (click)="verDetalle(c.id)" style="cursor: pointer;">
          <img [src]="c.foto" class="card-img-top" alt="{{c.nombre}}">
          <div class="card-body">
            <h5 class="card-title">{{ c.nombre }}</h5>
            <p class="card-text">{{ c.vertiente_religiosa }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  